@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
